.exchange_box{

    .form-group {
        select {
            border-radius: 25px;
        }
        input {
            border-radius: 25px;
        }
    }

    .card{
        border: 0;
        border-radius: 20px;
        
        .card-header{
            background-color: #878d99;
            border-radius: 0;
            color: white;
            font-weight: 700;
        }
        
        .card-block{
            padding-top: 10px;
            padding: 20px;

            .title{
                color: #878d99;
                font-weight: 700;
                text-align: center;
            }
            
            .btn-form{
                background-color: #2196f3;
                border-color: #2196f3;
                border-radius: 25px;
                &:hover{
                    color: #878d99;
                    background-color: #0071ce;
                }
            }
        }
    }
}

@media only screen and (max-width : 992px) {
    .card-header {
        font-size: 25px;
    }
    
    .title{
        margin-top: 30px;
        font-size: 20px;
    }
    
    .form-group {
        select {
            font-size: 20px;
            height: 50px !important;
        }
        input {
            font-size: 20px;
            height: 50px;
        }
    }
    
    #result {
        margin-bottom: 20px;
    }
    
    .btn-form {
        font-size: 20px;
        margin-top: 20px;
    }
}